<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">
    NodeBlog
  </a>
  <ul class="navbar-nav mr-auto">
    <a class="nav-link" href="/">Home</a>
    <% categories.forEach(category => { %>
      <a class="nav-link" href="/category/<%= category.slug %>"><%= category.title %></a>
    <% }) %>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class= "nav-link" href="/admin/articles">Painel admin</a>
    </li>
  </ul>
</nav>